#introText {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#bodyParagraph {
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}
.body {
    background-color: red;

}

#resultText {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#colorPickerLabelText {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#rgbPicker {
    display: flex;
    justify-content: center;

}